.slider{
    position: relative;
    width: 100%;
    height: 800px;
  /*  background-image: url('../../../../assets/images/slider.jpg');*/
    background-repeat: no-repeat;
}

.slider .slider-block , .carousel-caption{
     position: absolute;
     width: 400px;
     left: 60em;
     padding: 10px;
     top:50px;
     z-index: 0;
}


.slider .slider-block h2 , .carousel-caption h2{
      color: #f8f8ff !important;
      letter-spacing: 1px;
      font-size: 40px;
 /*     -webkit-animation: slider 1s ease-in-out infinite alternate;
      -moz-animation: slider 1s ease-in-out infinite alternate;
      animation: slider 1s ease-in-out infinite alternate;*/

}
/*
@-webkit-keyframes slider {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff4da6;
    }
}    */

