.reldateAddMovie{
    /* background-color: burlywood;*/
    width: 100% !important;
    text-align: center !important;
    border: 1px solid #ff4500;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.10) !important;
    padding: 10px 0 !important;
    background:transparent !important;
}


.reldateAddMovie{
    position: relative;
}


.addMovieReltimeStyle{
    position: absolute;
    right: 5em;
    top: 5em;
}