   <div class="card-body">
      <h2> {{pageTitle}}  </h2> <a *ngIf="checked" class="btn btn-primary" routerLink="/admin/movies">Add movie</a>
         <form   (ngSubmit)="sendMovieData()" id="addFormMovie" name="addFormMovie" [formGroup]="addFormMovie" enctype="multipart/form-data">

               <div class="form-group row mb-2">
                     <label class="col-md-2 col-form-label "
                          for="addMovieImage"> Movie image </label>
                         <div class="col-md-8">
                                 <div class="custom-file">
                                      <input  id = "addMovieImage" accept=".png, .jpg, .jpeg"  formControlName = "addMovieImage"  [ngClass]="{'is-invalid': displayMessage.addMovieImage}"  type="file" class="custom-file-input" (change) = "fileValue($event)" > 
                                      <label class="custom-file-label"  for="validatedCustomFile">Choose file...</label>
                                 </div>
                                 <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                                    <img [src]="imageURL" [alt]="addFormMovie.value.name" width= "150" height="150">
                                  </div>
                                  <span class="invalid-feedback">
                                    {{displayMessage.addMovieImage}}   
                                 </span>
                          

                         </div>
                 </div>

                  <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label"
                              for="addMovieName">Movie Name</label>
                             <div class="col-md-8">
                                       <input class="form-control"
                                        id = "addMovieName"
                                        type = "text"
                                          placeholder = "Movie name (required)"
                                       formControlName = "addMovieName"
                                            [ngClass]="{'is-invalid': displayMessage.addMovieName}"  />
                                      <span class="invalid-feedback">
                                                   {{displayMessage.addMovieName}} 
                                         
                                      </span>
                                    
                              </div>
                   </div>

                   <div class="form-group row mb-2">
                           <label class="col-md-2 col-form-label"
                           for="addMovieDesc">Movie Description</label>
                            <div class="col-md-8">
                                     <textarea  class="form-control"  id = "addMovieDesc"    placeholder = "Movie description (required)"   [ngClass]="{'is-invalid': displayMessage.addMovieDesc}"  formControlName = "addMovieDesc"  ></textarea>
                                     <span class="invalid-feedback">
                                                    {{displayMessage.addMovieDesc}}
                                    </span>
                           </div>
                  </div>

                   <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label"
                            for="addMovieYear">Year</label>

                           <div class="col-md-8">
                                   <select class="form-control"  id = "addMovieYear"   [ngClass]="{'is-invalid': displayMessage.addMovieYear}" formControlName="addMovieYear"  >
                                                     <option *ngFor="let year of years"  value="{{year.id}}" >{{ year.year }}  </option>
                                  </select>
                                    <span class="invalid-feedback">
                                                               {{displayMessage.addMovieYear}}
                                    </span>
                           </div>
                   </div>

                   <div class="form-group row mb-2">
                                 <label class="col-md-2 col-form-label"
                                  for="addMovieReldate">Movie release date</label>
                                        <div class="col-md-8 datetimerels"  >
                                                <ngb-datepicker  class="reldateAddMovie"  id = "addMovieReldate"   formControlName="addMovieReldate"  #dp (navigate)="date = $event.next" ></ngb-datepicker>
                                                <ngb-timepicker   id = "addMovieReltime" class="addMovieReltimeStyle"   formControlName="addMovieReltime"></ngb-timepicker>
                                                <span class="invalid-feedback">
                                                             {{displayMessage.addMovieReldate}}
                                                             {{displayMessage.addMovieReltime}}
                                                 </span>
                                        </div>
                 </div>  
                 <div class="form-group row mb-2">
                                <label class="col-md-2 col-form-label"
                                 for="addMovieRuntime">Runtime</label>
                             <div class="col-md-8">
                                       <input class="form-control"
                                              id = "addMovieRuntime"
                                               type = "text"
                                               placeholder = "Runtime (required)"
                                               formControlName = "addMovieRuntime"
                                               [ngClass]="{'is-invalid': displayMessage.addMovieRuntime}"  />
                                        <span class="invalid-feedback">
                                                     {{displayMessage.addMovieRuntime}} 
                               
                                       </span>
                             </div>
                 </div>
                     
                  <div class="form-group row mb-4">
                              <label class="col-md-1 col-form-label"
                               for="addMovieGenre">Genres:</label>
                            <!--<div class="col-md-1" >
                                  <div  *ngFor="let genre of genresArray.controls; let i = index" >
                                        <div [formGroup]="genre" class="form-row">
                                            <input  type="checkbox" formControlName="name" class="form-check-input"  id="addMovieGenre{{i+1}}"  (change)="onCheckboxChange($event,'checkArrayGenre')"  > 
                                            <p> </p>
                              
                                       </div>
                                  </div>  
                           </div>-->
                           <div class="col-md-1"  formArrayName="checkArrayGenre" >
                           
                               <div  *ngFor="let genre of categories; let i = index" >
                               
                                    <input *ngIf="!checked" type="checkbox"  class="form-check-input"  id="addMovieGenre{{genre.id}}"   [value]="genre.id" (change)="onCheckboxChange($event,'checkArrayGenre')"  > 
                                    <input *ngIf="checked" type="checkbox"  class="form-check-input"  id="addMovieGenre{{genre.id}}"  [value]="genre.id"   (change)="onCheckboxChange($event,'checkArrayGenre')" [checked]="genresArray.controls[i]?.value" >
                                       <p> {{genre.name}} </p>
                                       {{ genresArray.controls[i]?.value }}
                                    </div>
                                  
                            </div>
                   
                     <label class="col-md-1 col-form-label"
                           for="addMovieTehno">Tehnologies:</label>
                           <!--<div class="col-md-1"  >
                                     <div *ngFor="let tehno of tehnologiesArray.controls; let i = index" >
                                           <div [formGroup]="tehno" class="form-row">
                                             <input  type="checkbox" class="form-check-input"  id="addMovieTehno{{i+1}}" [formControlName]="tehnologies[i]?.name" (change)="onCheckboxChange($event, 'checkArrayTehno')"  > 
                                           <p> {{tehnologies[i]?.name}} </p>
                                        </div>  
                                  </div>  
                          </div>-->
                          <div class="col-md-1" formArrayName="checkArrayTehno" >
                              <div *ngFor="let tehno of tehnologies; let i = index" >
                                      <input  type="checkbox" class="form-check-input"  id="addMovieTehno{{tehno.id}}"   [value]="tehno.id" (change)="onCheckboxChange($event, 'checkArrayTehno')"  > 
                                       <p> {{tehno.name}} </p>
                              </div>  
                           
                          </div>
                
                          <label class="col-md-1 col-form-label"
                          for="addMovieActor">Actors:</label>

                         <div class="col-md-1" >
                                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adminMoviesActorsModal"> Actors </button>    
                        </div>
                        <div class="modal fade adminMoviesChb" id="adminMoviesActorsModal" tabindex="-1" role="dialog" aria-labelledby="adminMoviesActorsModalTitle" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                   <div class="modal-content">
                                         <div class="modal-header">
                                                <h5 class="modal-title" id="adminMoviesActorsModalTitle"> Actors </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                                                      <span aria-hidden="true" > &times;</span>
                                                </button>
                                         </div>
                                         <div class="modal-body">
                                          <div class="col-md-1" >
                                                <!--<div *ngFor="let actor of actorsArray.controls; let i = index" >
                                                      <div [formGroup]="actor" class="form-row"> 
                                                                  <input  type="checkbox" class="form-check-input"  [formControlName]="actors[i]?.name"   id="addMovieActor{{i+1}}"  (change)="onCheckboxChange($event, 'checkArrayActor')" > 
                                                                  <p> {{actors[i]?.name}} </p>
                                                      </div>           
                                                </div>-->
                                                <div class="col-md-1" formArrayName="checkArrayActor">
                                                      <div *ngFor="let actor of actors; let i = index" >
                                                            <input  type="checkbox" class="form-check-input"  id="addMovieActor{{actor.id}}" [value]="actor.id" (change)="onCheckboxChange($event, 'checkArrayActor')" > 
                                                           <p> {{actor.name}} </p>
                                                      </div>
                                                </div>
                                         </div>
                                         </div>
                                         <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" > Close</button>
                                            
                                         </div>
                                   </div>
                              </div>
                       </div> 
     

                  </div>
                    <div class="form-group row mb-2"> 
                                    <button type="submit" name="addMoveBtn" id="addMoveBtn"  [title]="addFormMovie.valid ? 'Save your entered data' : 'Disabled until the form data is valid'" [disabled]="!addFormMovie.valid" class="btn btn-outline-light" > Save </button>
                   </div>

       </form>
       <div *ngIf="message != '' ">
            <div *ngIf="success == true " class="alert alert-success mt-3" role="alert">
                     <p> {{ message }}  </p>
           </div>
            <div *ngIf="success == false " class="alert alert-danger mt-3" role="alert">
                    <p>  {{ message }} </p> 
           </div>
        </div>
          <div class="table admintable">
                <table>
                        <tr>
                               <th> # </th> 
                               <th> Image </th> 
                               <th> Name  </th>   
                               <th> Description </th> 
                                <th> Release date </th> 
                                <th> Running time </th>
                                <th> Year  </th>
                                <th> Prices </th>
                                <th> Categories </th>
                                <th> Tehnologies </th>
                                <th> Actors </th>
                                <th> Edit </th>
                                <th>  Delete </th>
                        </tr>
                         <tr *ngFor="let movie of allMovies; let i = index">
                                  <td> {{ i+1 }} </td>
                                  <td>  <img src="{{imgUrl + '' + movie.img}}" alt="{{movie.name}}"/>  </td>
                                  <td> {{ movie.name }} </td>
                                  <td> <p class="admindesc">{{ movie.desc }} </p> </td>
                                  <td> {{ movie.rel | date: 'dd/MM/yyyy H:m'  }} </td>
                                  <td> <span class="dateMv"> {{ movie.runtime }} </span> </td>
                                  <td> <span class="dateMv">  {{ movie.year }} </span> </td>
                                  <td>  <ul>
                                        <li *ngFor="let price of movie.price | keyvalue" value="{{price.value}}"> {{price.value | currency:"USD":"symbol" }} </li>
                                  </ul> </td>
                                  <td>  <ul>
                                           <li *ngFor="let cat of movie.categories | keyvalue" value="{{cat.value}}"> {{cat.value }} </li>
                                  </ul> </td>
                                  <td>  <ul>
                                        <li *ngFor="let cat of movie.tehnologies | keyvalue" value="{{cat.value}}"> {{cat.value }} </li>
                               </ul> </td>
                               <td>  <ul>
                                            <li *ngFor="let actor of movie.actors | keyvalue" value="{{actor.value}}"> {{actor.value }} </li>
                                     </ul> 
                                </td>
                                  <td>
                                   <a   [routerLink]="['/admin/movies', movie.id]" class="btn btn-outline-primary btn-sm">
                                          Edit
                                   </a>
                                  </td>
                                  <td>
                                        <a [routerLink]="['/admin/movies', movie.id]" (click) = "deleteMovie()" class="btn btn-outline-primary btn-sm"
                                               >
                                          Delete
                                       </a>
                                 </td>
                         </tr>
                </table>    
                <div *ngIf="error != ''" class="alert alert-danger mx-auto my-5 " role="alert">
                        {{ error }} 
                 </div>
          </div>
          <ul class="pagination justify-content-center" >
                <li class="page-item" *ngFor="let item of counter(page); let i = index"><a class="page-link colorWhite"  (click)="Paginate(i+1)"  routerLink="/admin/movies/page/{{i+1}}"   > {{ i + 1 }} </a></li>
          </ul>
     </div>
  
