/* You can add global styles to this file, and also import other style files */

body {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
  /*  background-color: #000;*/
    background-image: url('assets/images/bg_4.jpg') ;
  }
  
 p{
   color: #f8f8ff;
 } 

.btn-primary{
  background-color: #fa2837;
  color: #fff;
  border: none;
}

.btn-primary:hover{
  background-color: #000;
  color: #fa2837;
  border: none;
}
.btn-primary:visited{
  background-color: #fa2837 ;
  color: #000 ;
  border: none;
}

.btn-secondary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn-secondary:hover {
  color: #fa2837;
  background-color: #000;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover , .btnLink:hover{
    text-decoration: none;
   color: #f8f8ff;
}

ul li {
    list-style-type: none;
}

h1,h2,h3,h4,h5{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.error-text{
  color: #ff0000;
}

::-webkit-scrollbar {
    width: 5px;;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ff0000;
  }

  .pagination .page-item a{
    background-color: transparent !important;
    border: 1px solid #ff4500;
  }

  label{
    color: #fff;
  }

  .styleText{
      text-align: justify;
  }

  .colorOrange{
      color: #ff4500;
  }
  .colorWhite{
    color: #f8f8ff;
}
  .colorWhiteOp{
    color: #f8f8ff;
    opacity: 0.7;
}

.colorOrangeOp{
  color: #ff4500;
  opacity: 0.8;
}

/*
  input[type=text],  textarea , {
                background-color: transparent;
                border:1px solid #ff4500;
  }*/

 .form-control, .custom-file-label{
  border:1px solid #ff4500;
  background-color: transparent;  
 }

 .form-control:focus{
       background: transparent;
       border:1px solid #fff;
 }

 button[type=submit]{
   /* margin-left: 50em;*/
   margin-right: 1em;
 }

 .newMovie{
  /*  width: 280px;*/
    width: 297px;
   margin:50px 10px;
   background-color: transparent;
   padding: 12px;
   border-radius: 5px;
  border: 1px solid #ff4500;
}

.newMovie > h3{
  text-align: center;
  font-size: 20px;
  margin-top:10px;
/*  color: #ff4500;*/
}

.newMovie > img {
  border-radius: 5px;
  margin: 4px;
}

.newMovie > p {
  color: #f8f8ff;
}

.dateMv{
  padding: 7px;
  background-color: #ff0000;
  border-radius: 5px;
 margin-top: 20px;
}


.listCat {
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;

}

.listCat span {
  margin: 5px 2px;
  padding: 2px 10px;
  border-right: 1px solid #ff4500;
  color: #f8f8ff
}

.listCat:last-child > span{

 border-right: none;
}

.cat{
 text-align: center;
}

.details{
  width: 100%;
  padding: 10px;
   background-color: #fa2837;
  border-radius: 0px 0px 5px 5px ;
}

.details > a {
    text-transform: uppercase;
    margin-left: 6em;
}

.pr {
   margin-top: 50px;
}

.alert-success{
       background-color: #ff4500;
}

.container{
    padding: 20px;
}

.admintable , .admintable table tr td, .admintable table tr th{
  color: #fff;
}
.table tr{
   border-bottom: 2px solid #ff4500;
}
.table tr:first-child{
  border-bottom: 2px solid #fff;
}

.admintable table tr td img {
        width: 150px;
} 
.admintable table tr td .admindesc{
  overflow-y:scroll;
  width: 200px;
  height: 200px;
}
.btn-outline-primary{
    border: 1px solid #fa2837 !important;
    color: #fa2837 !important;
}

.btn-outline-primary:hover{
  border: 1px solid #fa2837 !important;
  color: #000 !important;
  background-color: #fa2837;
}
.admin-content-data{
   padding: 20px;
}
.admin-content-data{
  color: #ff4500;
}
.card-body{
    padding: 20px !important;
}

.adminMoviesChb{
     margin-top: 250px;
     height: 300px;
}
.adminMoviesChb .modal-content .modal-body p {
  color: #ff4500;
}