<div class="container-fluid"  >
     <div class="row" id="adminMain"> 
              <div class="col-md-2 kt">
                        <div class="filterCat">
                               <h3> Categories: </h3>
                               <span  *ngFor="let link of links" > <a   routerLink="/admin/{{link.path}}"> {{ link.name }} </a></span>
                              
                        </div>
              </div>   
              <div class="col-md-10">     
                       <router-outlet></router-outlet> 
             </div>      
    </div> 
 </div>
 